*.suo
*.ncb
*.vcproj
*.user
*.opt
*.clw
*.aps
*.mak
*.sdf
proj/msvc9/__NiseTroPreview_forOldGames_DX9_Debug__/
proj/msvc9/__NiseTroPreview_forOldGames_DX9_Release__/
proj/msvc9/_UpgradeReport_Files/
proj/msvc9/ipch/
proj/msvc9/UpgradeLog.XML
lib/CyAPI.lib
doc/html/
doc/mkdoc.bat
doc/Doxyfile.win
RCX197.tmp
config.xml
*.exe
*.ilk
*.pdb
*~
*.old